:root {
    --light-green: #c4eb96;
    --dark-green: #2b4219;
    --grey-green: #b3c2a7;
    --light-blue: #87ceeb;
    --white-white: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

nav {
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}